body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: row; /* Display tasks and form side by side */
    justify-content: space-between; /* Separate tasks and form to each side */
    width: 80%;
}

.left-column {
    width: 70%; 
    padding: 20px;
}

.right-column {
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none !important;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f9f9f9;
}

li strong {
    display: block;
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

p {
    margin: 0;
    color: #666;
}

/* Styling for the "Create New Task" form */
form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"],
form textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

form button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    width: 30%;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

.user-message {
    margin: auto;
    background: #b9c9ff;
    text-align: center;
  }
  
  .user-message-error {
    border-color: red;
    background: rgb(255, 176, 176);
    color: red;
  }
